 <div class="flex justify-center">
  <div class="card shadow-xl m-0 border-box">
    <div class="card-body prose m-0 border-box">
      <h3 class="card-title m-0 text-center text-4xl hero-title font-bold">Projects</h3>
      <p class="m-0 p-0 border-box text-2xl">
        The projects below are my GitHub pinned projects. They have been built with 
        languages and frameworks such as JavaScript, Ruby, React, and Ruby on Rails. 
        By clicking their card you can read a short description of each of them and access 
        their respective repository.  
        <br>Feel free to visit my projects on <a href="https://github.com/david-lafontant" title="Github profile page of David Lafontant" target="_blank" class="no-underline badge badge-accent badge-outline"><strong>Github</strong></a> if you want to have a better view of my work and and technical skills.
        Your comments are welcome.
      </p>
    </div>
  </div>
</div>
<div >
<% @profile_data.each  do |item| %>
  <% item.each_value do |value|  %>
<div class="hero   min-h-fit bg-site_dark_blue border-box ">
  <div class="hero-content flex-col lg:flex-row glass border-box">
    <img src="<%= value["openGraphImageUrl"]%>" alt="social preview of<%= value["name"] %>" class="max-w-sm rounded-lg shadow-2xl" >
    <div class="prose lg:prose-xl">

            <h2 class="text-4xl hero-title font-bold">
            <%= value["name"] %> 
            </h2>
            <p class="text-2xl">     
            <%= value["description"] %>         
            </p>
            <div class="card-actions justify-start">       
              <a href="<%= value["url"]%>"target="_blank" class="btn btn-primary no-underline text-white ring-2 ring-blue-500/50">See repository</a>
            </div>

    </div>
  </div>
</div>
  <% end %>
<% end %> 
</div>